.container{
    width: 100vw;
    height: 594px;
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    background-color: #60D9C5;
    

}
.top-cover{
    width: 1119px;
    height: 480px;
    /* border:2px solid red; */
    display: flex;
    flex-direction: row;
    background-color: #60D9C5;
    margin-top: 100px;

}
.content{
     display: flex;
     flex-direction: row;

}
.text-content{
    display: flex;
    flex-direction: column;
     /* border:2px solid red; */
     

}
.text-content h1{
    font-size: 46px;
    font-weight: 600;
    line-height: 67px;
    display: flex;
    justify-items: center;
    color: #fff;
    margin-top: 10px;

}
.text-content p{
    font-size: 30px;
    line-height: 45px;
    font-weight: 500;
    margin-top: 10px;

}


.btn{
    
    /* background-color: #173B3F; */
    display: flex;
    /* justify-content: center;
    justify-content: space-around; */
    
    
    height: 70px;
    margin-top: 30px;

}
.btn button{

    background-color: #173B3F;
    color: #fff;
  
    border-radius: 20px;
    width: 233px;
    border: 2px solid #60D9C5;
    height: 70px;
    font-size: 27px;
    line-height: 42px;
    
}
.btn button:hover{
    cursor: pointer;
}
.bg-color{
    background-color: #60D9C5;
    border: 1px solid #173B3F;
}















/* 
.container-two {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #007BFF;
  text-align: center;
}

p {
  line-height: 1.6;
}

.training-info {
  margin-top: 20px;
  padding: 15px;
  background-color: #f9f9f9;
  border-left: 5px solid #007BFF;
}

.training-info p {
  margin: 10px 0;
}


 */
